@import '../../assets/styles/responsive-mixins.scss';

.footer{
  display: flex;
  justify-content: center;
  column-gap: 60px;
  background-color: white;
  padding-top: 20px;
  flex-direction: column;
  @include desk-large {
    flex-direction: row;
  }

  &__icon{
    width: 70px;
  }
  &__info{
    display: contents;

    &-img{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-copy{
      font-family: 'HouschkaPro-Medium', sans-serif;
      color: #848586;
      font-size: 12px;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    &-link{
      font-family: 'HouschkaPro-Medium', sans-serif;
      color: #848586;
      font-size: 12px;
      text-decoration: none;
    }
    &-link-comebien{
      font-family: 'HouschkaPro-Medium', sans-serif;
      color: #FD7F23;
      font-size: 12px;
      text-decoration: none;
    }
    &-links{
      font-family: 'HouschkaPro-Medium', sans-serif;
      color: #848586;
      font-size: 12px;
      display: flex;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}