@font-face {
  font-family: 'HouschkaPro-Bold';
  src: url('../font/HouschkaPro-Bold.eot');
  src: url('../font/HouschkaPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'HouschkaPro-Medium';
  src: url('../font/HouschkaPro-Medium.eot');
  src: url('../font/HouschkaPro-Medium.woff') format('woff');
}

@font-face {
  font-family: 'HouschkaPro-DemiBold';
  src: url('../font/HouschkaPro-DemiBold.eot');
  src: url('../font/HouschkaPro-DemiBold.woff') format('woff');
}
