@import 'react-slideshow-image/dist/styles.css';
@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/responsive-mixins.scss';

.big-slide {
  width: 100%;
  position: relative;
  margin-top:0;
  margin-bottom: 100px;

  @include desk-small {
    margin-top:50px;
  }

  &__item {
    padding: 50px;
    display: flex;
    justify-content: center;
  }
}

.each-slide {
  &__container {
    // background-color: purple;
    // width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    column-gap: 50px;
    @include desk-small {
      flex-direction: row;
    }
  }
  &__left-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desk-small {
      align-items: flex-start;
    }

    &-h1 {
      font-family: 'HouschkaPro-Bold', sans-serif;
      color: #6632fb;
      font-size: 22px;
      text-align: center;
      @include desk-small {
        font-size: 35px;
        text-align: left;
      }
    }
    &-p{
      font-family: 'HouschkaPro-Medium', sans-serif;
      font-size: 14px;
      color: #707070;
      text-align: center;
      @include desk-small {
        font-size: 18px;
        text-align: left;
      }
    }
    &-link-btn{
      background-color: #FF7F00;
      padding: 10px 15px;
      margin-top: 20px;
      display: inline-block;
      font-family: 'HouschkaPro-Medium', sans-serif;
      color: #FFFFFF;
      text-decoration: none;
      border-radius: 6px;
    }
  }
  &__right-content {
    &-img {
      border-radius: 10px;
      box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
      width: 200px;

      @include desk-small {
        width: 300px;
      }
    }
  }
}

.scroll-icon{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -50px;
}